# Ignore backup files from vim
vim/backup/*
vim/view/*
vim/undodir/*
vim/.netrwhist
vim/.viminfo

# Ignore various stuff from some plugins
vim/bundle/
vim/autoload/

# Do the same for nvim
nvim/undodir/*
nvim/plugged/*
