# Ignore backup files from vim
confFiles/vim/.vim/backup/*
confFiles/vim/.vim/view/*
confFiles/vim/.vim/undodir/*
confFiles/vim/.vim/.netrwhist

# Do the same for nvim
confFiles/nvim/undodir/*
confFiles/nvim/plugged/*

# Ignore various stuff from some plugins
confFiles/vim/.vim/bundle/
confFiles/vim/.vim/autoload/
