# Ignore backup files from vim
confFiles/vim/.vim/backup/*
confFiles/vim/.vim/view/*
confFiles/vim/.vim/.netrwhist

# Ignore various stuff from some plugins
confFiles/vim/.vim/bundle/
confFiles/vim/.vim/autoload/
